<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
    <title>About us</title>
    <link rel="stylesheet" href="/css/about.css">
</head>
<body>
    <header>
        <%- include('../partials/header'); %>
    </header>
    <main>
        
    </main>
    <footer>
        <%- include('../partials/footer'); %>
    </footer>
<script>
  window.si = window.si || function () { (window.siq = window.siq || []).push(arguments); };
</script>
<script defer src="/_vercel/speed-insights/script.js"></script>
<script>
  window.va = window.va || function () { (window.vaq = window.vaq || []).push(arguments); };
</script>
<script defer src="/_vercel/insights/script.js"></script>
</body>
</html>
