<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
    <title>Home</title>
    <link rel="stylesheet" href="/leafletcss/leaflet.css" />
    <script src="/leafletjs/leaflet.js"></script>
</head>
<body class="page-home">
    <header>
        <%- include('../partials/header'); %>
    </header>
    <main>
        <div id="map"></div>
    </main>
    <footer>
        <%- include('../partials/footer'); %>
    </footer>
    <script src="/js/map.js" defer></script>
</body>
</html>