<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
    <title>Home</title>
    <link rel="stylesheet" href="/leafletcss/leaflet.css" />
    <script src="/leafletjs/leaflet.js"></script>
</head>
<body class="page-home">
    <header>
        <%- include('../partials/header'); %>
        <button class="header-button" type="button">☰</button>
    </header>
    <main>
        <div><p>Test</p></div>
        <div id="map"></div>
    </main>
    <script src="/js/map.js" defer></script>
    <script src="/js/index.js" defer></script>
    <script id="boot-data" type="application/json">
        <%- JSON.stringify({
            keuzes: keuzes || [],
            points: initialPoints || []
        }) %>
    </script>
<script>
  window.si = window.si || function () { (window.siq = window.siq || []).push(arguments); };
</script>
<script defer src="/_vercel/speed-insights/script.js"></script>
<script>
  window.va = window.va || function () { (window.vaq = window.vaq || []).push(arguments); };
</script>
<script defer src="/_vercel/insights/script.js"></script>
</body>
</html>