<a id="header" class="site-header__left" href="/">
  <img src="/img/logo.png" alt="Site logo">
  <h1>Air pollution in Africa</h1>
</a>

<div class="site-header__right">
  <div class="header-menu">
    <button
    class="header-button"
    type="button"
    aria-haspopup="true"
    aria-expanded="false"
    aria-controls="header-dropdown">
    ☰
    </button>

    <div id="header-dropdown" class="header-dropdown" role="menu" aria-label="Header menu">
    <a role="menuitem" href="/beheer">Login</a>
    <a role="menuitem" href="/info">Info</a>
    <a role="menuitem" href="/data">Share data</a>
    <a role="menuitem" href="/about">About us</a>
    </div>
  </div>
</div>